<a href="https://colab.research.google.com/github/MAboElFottouh/data-structures-algorithms/blob/main/Integer_to_Roman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

Symbol ----- Value

I -------------------- 1

V -------------------- 5

X -------------------- 10

L -------------------- 50

C -------------------- 100

D -------------------- 500

M -------------------- 1000

For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.

Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

I can be placed before V (5) and X (10) to make 4 and 9. 

X can be placed before L (50) and C (100) to make 40 and 90. 

C can be placed before D (500) and M (1000) to make 400 and 900.

Given an integer, convert it to a roman numeral.

Input: num = 3

Output: "III"

Explanation: 3 is represented as 3 ones.

Input: num = 58

Output: "LVIII"

Explanation: L = 50, V = 5, III = 3.

Input: num = 1994

Output: "MCMXCIV"

Explanation: M = 1000, CM = 900, XC = 90 and IV = 4.

In [79]:
def intToRoman(num):
  string = []

  #number bigger than 1000 convert to M
  tamp = int(num / 1000)
  for i in range(tamp):
    string.append('M')
  num = num - (tamp * 1000)
  
  #number bigger than 100 convert to C as 100 or D as 500
  tamp = int(num / 100) 
  if (tamp == 9): # Special case in roman number 900 or 400
    string.append('CM')

  elif(tamp == 4 ):
    string.append('CD')

  elif(tamp > 4): # number bigger than 500 use D as 500 And complete the rest as 100
    string.append('D')
    for i in range(tamp-5):
      string.append('C')

  else :
      for i in range(tamp):
        string.append('C')
  num = num - (tamp*100)
  
  tamp = int(num/10)
  if tamp == 9: # Special case in roman number 90 or 40
    string.append('XC')

  elif tamp == 4 :
    string.append('XL')

  elif tamp > 4 :# number bigger than 50 use L as 50 And complete the rest as 10
    string.append('L')
    for i in range(tamp-5):
      string.append('X')
  else:
    for i in range(tamp):
      string.append('X')
  num = num - (tamp * 10)
  print(num)
  tamp = num
  if tamp == 9: # Special case in roman number 9 or 4
    string.append('IX')

  elif tamp == 4 :
    string.append('IV')

  elif tamp > 4 :# number bigger than 5 use V as 500 And complete the rest as 1
    string.append('V')
    for i in range(tamp-5):
      string.append('I')
  else:
    for i in range(tamp):
      string.append('I')
  final_output = ''
  for i in range(len(string)):
    final_output = final_output + string[i]

  return final_output

In [82]:
num = 58

In [83]:
intToRoman(num)

8
LVIII

In [48]:
36451 / 1000

36.451