<a href="https://colab.research.google.com/github/MAboElFottouh/data-structures-algorithms/blob/main/Roman_to_Integer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For example, 2 is written as II in Roman numeral, just two ones added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.

Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

I can be placed before V (5) and X (10) to make 4 and 9. 
X can be placed before L (50) and C (100) to make 40 and 90. 
C can be placed before D (500) and M (1000) to make 400 and 900.
Given a roman numeral, convert it to an integer.

Symbol ----- Value

I -------------------- 1

V -------------------- 5

X -------------------- 10

L -------------------- 50

C -------------------- 100

D -------------------- 500

M -------------------- 1000

In [123]:
def romanToInt(s):
  counter = 0 

  letter = [x for x in s] # split string to char 
  print(letter)
  # convert letter to number   
  for i in range(len(letter)) :
    if letter[i]=='M' :
      letter[i] = 1000
    elif letter[i] == 'D':
      letter[i] = 500
    elif letter[i] == 'C':
      letter[i] = 100
    elif letter[i] == 'L':
      letter[i] = 50
    elif letter[i] == 'X':
      letter[i] = 10
    elif letter[i] == 'V':
      letter[i] = 5
    elif letter[i] == 'I':
      letter[i] = 1
  print(letter)
  flag = 0 # flag to skip number after nagetiv
  for i in range(len(letter)) :
    if flag == 0 :
      if i == len(letter)-1 :
        counter = counter + letter[i]
      elif letter [i] >= letter[i+1] :
        counter = counter + letter[i]
      else :
        counter = counter + ( letter [i+1 ] - letter[i] )
        flag = 1
    else : 
      flag = 0  
    
      
  return counter

In [124]:
s1 = "III"
s2 = "LVIII"
s3 = "MCMXCIV"

In [125]:
romanToInt(s3)

['M', 'C', 'M', 'X', 'C', 'I', 'V']
[1000, 100, 1000, 10, 100, 1, 5]

1994